In [2]:
import pandas as pd

Отримуємо базову інформацію про типи даних, кількість рядків, наявність пропусків.

In [91]:

# Завантажуємо датасет
file_path = r"D:\VLAD\WORK\Projects\Portfolio\DA_Portfolio\DA\2025\global_mobile_reviews_project\data\raw\data\Mobile Reviews Sentiment.csv"
try:
    df = pd.read_csv(file_path, encoding='utf-8')

    # Перевіряємо загальні відомості про дані
    print(df.info())

except FileNotFoundError:
    print(f"Error: File not found at {file_path}.  Please check the file path.")
except Exception as e:
    print(f"An error occurred: {e}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   review_id             50000 non-null  int64
 1   customer_name         50000 non-null  object
 2   age                   50000 non-null  int64
 3   brand                 50000 non-null  object
 4   model                 50000 non-null  object
 5   price_usd             50000 non-null  float64
 6   price_local           50000 non-null  object
 7   currency              50000 non-null  object
 8   exchange_rate_to_usd  50000 non-null  float64
 9   rating                50000 non-null  int64
 10  review_text           50000 non-null  object
 11  sentiment             50000 non-null  object
 12  country               50000 non-null  object
 13  language              50000 non-null  object
 14  review_date           50000 non-null  object
 15  verified_purchase     50000 non-null  bool
 16  battery_life_rating   50000 non-null  int64
 17  camera_rating         50000 non-null  int64
 18  performance_rating    50000 non-null  int64
 19  design_rating         50000 non-null  int64
 20  display_rating        50000 non-null  int64
 21  review_length         50000 non-null  int64
 22  word_count            50000 non-null  int64
 23  helpful_votes         50000 non-null  int64
 24  source                50000 non-null  object
dtypes: bool(1), float64(2), int64(11), object(11)
memory usage: 9.2+ MB
None

In [92]:
# Переглядаємо перші кілька рядків
print(df.head())

   review_id      customer_name  age     brand          model  price_usd  \
0          1      Aryan Maharaj   45    Realme  Realme 12 Pro     337.31
1          2  Davi Miguel Sousa   18    Realme  Realme 12 Pro     307.78
2          3        Pahal Balay   27    Google        Pixel 6     864.53
3          4       David Guzman   19    Xiaomi  Redmi Note 13     660.94
4          5          Yago Leão   38  Motorola        Edge 50     792.13

  price_local currency  exchange_rate_to_usd  rating  ... verified_purchase  \
0   ₹27996.73      INR                 83.00       2  ...              True
1   R$1754.35      BRL                  5.70       4  ...              True
2   ₹71755.99      INR                 83.00       4  ...              True
3  د.إ2425.65      AED                  3.67       3  ...             False
4   R$4515.14      BRL                  5.70       3  ...              True

  battery_life_rating camera_rating performance_rating design_rating  \
0                   1             1                  3             2
1                   3             2                  4             3
2                   3             5                  3             2
3                   1             3                  2             1
4                   3             3                  2             2

   display_rating  review_length  word_count  helpful_votes      source
0               1             46           7              1      Amazon
1               2             74          12              5    Flipkart
2               4             55          11              8  AliExpress
3               2             66          11              3      Amazon
4               1             73          12              0     BestBuy

[5 rows x 25 columns]

1. Перевірка пропущених значень

Хоча виведення показує, що всі колонки мають 50,000 значень (немає пропущених), важливо двічі перевірити це для кожної колонки:

In [93]:
# Перевірка наявності пропусків
print(df.isnull().sum())

review_id               0
customer_name           0
age                     0
brand                   0
model                   0
price_usd               0
price_local             0
currency                0
exchange_rate_to_usd    0
rating                  0
review_text             0
sentiment               0
country                 0
language                0
review_date             0
verified_purchase       0
battery_life_rating     0
camera_rating           0
performance_rating      0
design_rating           0
display_rating          0
review_length           0
word_count              0
helpful_votes           0
source                  0
dtype: int64

2. Перевірка унікальних значень для категоріальних змінних

Перевіримо категоріальні стовпці на наявність аномальних або некоректних значень, наприклад, для колонок sentiment, country, currency, language, verified_purchase:

In [94]:
# Перевірка унікальних значень для категоріальних стовпців
print(df['sentiment'].unique())  # перевірка тональності
print(df['country'].unique())    # перевірка країн
print(df['currency'].unique())   # перевірка валют
print(df['language'].unique())   # перевірка мов
print(df['verified_purchase'].unique())  # перевірка підтверджених покупок

['Negative' 'Positive' 'Neutral']
['India' 'Brazil' 'UAE' 'Australia' 'Germany' 'UK' 'Canada' 'USA']
['INR' 'BRL' 'AED' 'AUD' 'EUR' 'GBP' 'CAD' 'USD']
['Hindi' 'Portuguese' 'English' 'German']
[ True False]

3. Перевірка наявності аномальних значень у числових стовпцях

Перевіримо числові колонки, щоб переконатися, що всі значення знаходяться в розумних межах:

In [95]:
# Перевірка діапазону для числових значень
print(df['price_usd'].describe())  # Ціна в USD
print(df['rating'].describe())  # Оцінка
print(df['battery_life_rating'].describe())  # Оцінка батареї
print(df['camera_rating'].describe())  # Оцінка камери
print(df['performance_rating'].describe())  # Оцінка продуктивності
print(df['design_rating'].describe())  # Оцінка дизайну

count    50000.000000
mean       689.693713
std        310.307331
min        180.020000
25%        450.792500
50%        637.040000
75%        900.975000
max       1499.890000
Name: price_usd, dtype: float64
count    50000.000000
mean         3.123120
std          1.248612
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: rating, dtype: float64
count    50000.00000
mean         2.71800
std          1.34827
min          1.00000
25%          1.00000
50%          3.00000
75%          4.00000
max          5.00000
Name: battery_life_rating, dtype: float64
count    50000.000000
mean         2.717640
std          1.345001
min          1.000000
25%          1.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: camera_rating, dtype: float64
count    50000.000000
mean         2.719620
std          1.349208
min          1.000000
25%          1.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: performance_rating, dtype: float64
count    50000.000000
mean         2.713960
std          1.343346
min          1.000000
25%          1.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: design_rating, dtype: float64

Зробити копію датасету

In [96]:
# Створення копії оригінальних даних
df_clean = df.copy()
# Перевірка перших кількох рядків копії
print(df_clean.head())

   review_id      customer_name  age     brand          model  price_usd  \
0          1      Aryan Maharaj   45    Realme  Realme 12 Pro     337.31
1          2  Davi Miguel Sousa   18    Realme  Realme 12 Pro     307.78
2          3        Pahal Balay   27    Google        Pixel 6     864.53
3          4       David Guzman   19    Xiaomi  Redmi Note 13     660.94
4          5          Yago Leão   38  Motorola        Edge 50     792.13

  price_local currency  exchange_rate_to_usd  rating  ... verified_purchase  \
0   ₹27996.73      INR                 83.00       2  ...              True
1   R$1754.35      BRL                  5.70       4  ...              True
2   ₹71755.99      INR                 83.00       4  ...              True
3  د.إ2425.65      AED                  3.67       3  ...             False
4   R$4515.14      BRL                  5.70       3  ...              True

  battery_life_rating camera_rating performance_rating design_rating  \
0                   1             1                  3             2
1                   3             2                  4             3
2                   3             5                  3             2
3                   1             3                  2             1
4                   3             3                  2             2

   display_rating  review_length  word_count  helpful_votes      source
0               1             46           7              1      Amazon
1               2             74          12              5    Flipkart
2               4             55          11              8  AliExpress
3               2             66          11              3      Amazon
4               1             73          12              0     BestBuy

[5 rows x 25 columns]

4. Перевірка формату дати

Перевіримо, чи коректно відформатована дата в колонці review_date. Якщо ця колонка зберігається як рядок, потрібно перетворити її в тип datetime:

In [97]:
# Перетворення дати на формат datetime в копії df_clean
df_clean['review_date'] = pd.to_datetime(df_clean['review_date'], errors='coerce')

# Перевірка на наявність некоректних значень після перетворення
print(df_clean['review_date'].isnull().sum())  # Кількість NaT (Not a Time) значень

0

5. Перевірка валютних значень та курсів

Колонка price_local є рядковим типом, але це ймовірно ціна в місцевій валюті. Треба перевірити, чи вона містить лише числові значення та чи співвідносяться ціни з валютним курсом в exchange_rate_to_usd:

In [98]:
print(df_clean['price_local'].head(8))
# Видалення всіх символів, окрім цифр і десяткових точок
import re

# Очищаємо стовпець price_local і додаємо новий стовпець
def clean_price(price):
    price_str = str(price)
    # Спочатку видаляємо ВСІ нецифрові символи (включно з крапками)
    # Потім повертаємо останню крапку, якщо вона була десятковим роздільником
    
    # Знаходимо всі цифри
    digits = re.findall(r'\d', price_str)
    
    # Знаходимо позицію останньої крапки серед цифр
    # Розділяємо рядок на частини за всіма нецифровими символами
    parts = re.split(r'[^\d]', price_str)
    parts = [p for p in parts if p]  # Видаляємо порожні рядки
    
    # Якщо є дві частини чисел, об'єднуємо їх з крапкою
    if len(parts) >= 2 and len(parts[-1]) <= 2:
        # Остання частина виглядає як центи/копійки
        price = parts[-2] + '.' + parts[-1]
    elif len(parts) == 1:
        price = parts[0]
    else:
        # Об'єднуємо всі цифри
        price = ''.join(parts)
    
    return price

# Додаємо новий стовпець price_local_clean
df_clean['price_local_clean'] = df_clean['price_local'].apply(clean_price)

# Перетворюємо новий стовпець на числовий формат
df_clean['price_local_clean'] = pd.to_numeric(df_clean['price_local_clean'], errors='coerce')

# Виведення перших 15 рядків для перевірки
print(df_clean[['price_local', 'price_local_clean']].head(8))

0     ₹27996.73
1     R$1754.35
2     ₹71755.99
3    د.إ2425.65
4     R$4515.14
5      R$5408.1
6    د.إ1541.88
7     A$2208.95
Name: price_local, dtype: object
  price_local  price_local_clean
0   ₹27996.73           27996.73
1   R$1754.35            1754.35
2   ₹71755.99           71755.99
3  د.إ2425.65            2425.65
4   R$4515.14            4515.14
5    R$5408.1            5408.10
6  د.إ1541.88            1541.88
7   A$2208.95            2208.95

In [99]:
# Перевірка на наявність некоректних значень після перетворення
print(df_clean['price_local_clean'].isnull().sum())  # Кількість NaN значень

0

6. Перевірка на дублікатів

Перевіримо, чи немає дублікатів за колонкою review_id:

In [100]:
# Перевірка на дублікати
print(df_clean.duplicated(subset='review_id').sum())

0

7. Приведення категоріальних змінних до стандарту

Перевіримо, чи всі категоріальні дані стандартизовані (наприклад, регістр тексту):

In [ ]:
# Перевірка результату для перших 15 рядків
print(df_clean[['sentiment', 'country', 'currency', 'language']].head(15))

# Приведення категоріальних змінних до стандарту в копії df_clean
#df_clean['sentiment'] = df_clean['sentiment'].str.lower()
#df_clean['country'] = df_clean['country'].str.lower()
#df_clean['currency'] = df_clean['currency'].str.upper()
#df_clean['language'] = df_clean['language'].str.lower()

   sentiment    country currency    language
0   Negative      India      INR       Hindi
1   Positive     Brazil      BRL  Portuguese
2   Positive      India      INR       Hindi
3   Positive        UAE      AED     English
4    Neutral     Brazil      BRL  Portuguese
5   Positive     Brazil      BRL  Portuguese
6   Positive        UAE      AED     English
7   Negative  Australia      AUD     English
8   Positive    Germany      EUR      German
9   Positive  Australia      AUD     English
10   Neutral         UK      GBP     English
11   Neutral     Canada      CAD     English
12  Positive     Brazil      BRL  Portuguese
13  Negative     Canada      CAD     English
14   Neutral         UK      GBP     English

8. Перевірка аномалій в тексті відгуків

Якщо необхідно, можна перевірити відгуки на наявність аномальних символів чи надмірної довжини тексту:

In [102]:
# Перевірка довжини тексту відгуку в копії df_clean
df_clean['review_length'] = df_clean['review_text'].str.len()

# Перевірка статистики по довжині відгуків
print(df_clean['review_length'].describe())

# Перевірка, чи не містять відгуки незвичних або спеціальних символів
import re
df_clean['has_special_chars'] = df_clean['review_text'].apply(lambda x: bool(re.search(r'[^a-zA-Z0-9\s]', x)))

# Перевірка кількості відгуків з спеціальними символами
print(df_clean['has_special_chars'].sum())  # Перевірка на наявність спецсимволів

count    50000.000000
mean        62.791440
std          8.017695
min         45.000000
25%         56.000000
50%         63.000000
75%         68.000000
max         82.000000
Name: review_length, dtype: float64
50000

In [103]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   review_id             50000 non-null  int64
 1   customer_name         50000 non-null  object
 2   age                   50000 non-null  int64
 3   brand                 50000 non-null  object
 4   model                 50000 non-null  object
 5   price_usd             50000 non-null  float64
 6   price_local           50000 non-null  object
 7   currency              50000 non-null  object
 8   exchange_rate_to_usd  50000 non-null  float64
 9   rating                50000 non-null  int64
 10  review_text           50000 non-null  object
 11  sentiment             50000 non-null  object
 12  country               50000 non-null  object
 13  language              50000 non-null  object
 14  review_date           50000 non-null  datetime64[ns]
 15  verified_purchase     50000 non-null  bool
 16  battery_life_rating   50000 non-null  int64
 17  camera_rating         50000 non-null  int64
 18  performance_rating    50000 non-null  int64
 19  design_rating         50000 non-null  int64
 20  display_rating        50000 non-null  int64
 21  review_length         50000 non-null  int64
 22  word_count            50000 non-null  int64
 23  helpful_votes         50000 non-null  int64
 24  source                50000 non-null  object
 25  price_local_clean     50000 non-null  float64
 26  has_special_chars     50000 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(3), int64(11), object(10)
memory usage: 9.6+ MB

In [104]:
df.head()

,review_id,customer_name,age,brand,model,price_usd,price_local,currency,exchange_rate_to_usd,rating,...,verified_purchase,battery_life_rating,camera_rating,performance_rating,design_rating,display_rating,review_length,word_count,helpful_votes,source
0,1,Aryan Maharaj,45,Realme,Realme 12 Pro,337.31,₹27996.73,INR,83.00,2,...,True,1,1,3,2,1,46,7,1,Amazon
1,2,Davi Miguel Sousa,18,Realme,Realme 12 Pro,307.78,R$1754.35,BRL,5.70,4,...,True,3,2,4,3,2,74,12,5,Flipkart
2,3,Pahal Balay,27,Google,Pixel 6,864.53,₹71755.99,INR,83.00,4,...,True,3,5,3,2,4,55,11,8,AliExpress
3,4,David Guzman,19,Xiaomi,Redmi Note 13,660.94,د.إ2425.65,AED,3.67,3,...,False,1,3,2,1,2,66,11,3,Amazon
4,5,Yago Leão,38,Motorola,Edge 50,792.13,R$4515.14,BRL,5.70,3,...,True,3,3,2,2,1,73,12,0,BestBuy

In [105]:
# Перевірка на від'ємні або нереалістичні значення
print(df_clean[['price_usd', 'price_local_clean']].describe())
print(df_clean['age'].describe())
print(df_clean[['rating', 'battery_life_rating', 'camera_rating', 'performance_rating', 'design_rating']].describe())

          price_usd  price_local_clean
count  50000.000000       50000.000000
mean     689.693713        8304.527646
std      310.307331       20427.986757
min      180.020000         141.090000
25%      450.792500         593.447500
50%      637.040000        1060.215000
75%      900.975000        2921.140000
max     1499.890000      124397.080000
count    50000.000000
mean        30.075220
std          8.931307
min         18.000000
25%         23.000000
50%         29.000000
75%         36.000000
max         65.000000
Name: age, dtype: float64
             rating  battery_life_rating  camera_rating  performance_rating  \
count  50000.000000          50000.00000   50000.000000        50000.000000
mean       3.123120              2.71800       2.717640            2.719620
std        1.248612              1.34827       1.345001            1.349208
min        1.000000              1.00000       1.000000            1.000000
25%        2.000000              1.00000       1.000000            1.000000
50%        3.000000              3.00000       3.000000            3.000000
75%        4.000000              4.00000       4.000000            4.000000
max        5.000000              5.00000       5.000000            5.000000

       design_rating
count   50000.000000
mean        2.713960
std         1.343346
min         1.000000
25%         1.000000
50%         3.000000
75%         4.000000
max         5.000000

In [106]:
# Перевірка унікальних значень у стовпці sentiment
print("Унікальні значення в стовпці 'sentiment' (тональність):")
print(df_clean['sentiment'].unique())
# Перевірка унікальних значень у стовпці country
print("\nУнікальні значення в стовпці 'country' (країна):")
print(df_clean['country'].unique())
# Перевірка унікальних значень у стовпці currency
print("\nУнікальні значення в стовпці 'currency' (валюта):")
print(df_clean['currency'].unique())
# Перевірка унікальних значень у стовпці language
print("\nУнікальні значення в стовпці 'language' (мова):")
print(df_clean['language'].unique())
# Перевірка наявності дублікатів у стовпці review_id
print("\nКількість дублікатів у стовпці 'review_id':")
print(df_clean['review_id'].duplicated().sum())
# Перевірка на наявність некоректних дат в стовпці review_date
print("\nКількість некоректних дат у стовпці 'review_date' (NaT):")
print(df_clean['review_date'].isnull().sum())
# Статистика по довжині відгуків (review_length)
print("\nСтатистика по довжині текстів відгуків ('review_length'):")
print(df_clean['review_length'].describe())
# Кількість відгуків по країні
print("\nКількість відгуків по країні:")
print(df_clean.groupby('country').size())
# Кількість відгуків по бренду
print("\nКількість відгуків по бренду:")
print(df_clean.groupby('brand').size())
# Перевірка на пропущені значення в усіх стовпцях
print("\nКількість пропущених значень в кожному стовпці:")
print(df_clean.isnull().sum())

Унікальні значення в стовпці 'sentiment' (тональність):
['Negative' 'Positive' 'Neutral']

Унікальні значення в стовпці 'country' (країна):
['India' 'Brazil' 'UAE' 'Australia' 'Germany' 'UK' 'Canada' 'USA']

Унікальні значення в стовпці 'currency' (валюта):
['INR' 'BRL' 'AED' 'AUD' 'EUR' 'GBP' 'CAD' 'USD']

Унікальні значення в стовпці 'language' (мова):
['Hindi' 'Portuguese' 'English' 'German']

Кількість дублікатів у стовпці 'review_id':
0

Кількість некоректних дат у стовпці 'review_date' (NaT):
0

Статистика по довжині текстів відгуків ('review_length'):
count    50000.000000
mean        62.791440
std          8.017695
min         45.000000
25%         56.000000
50%         63.000000
75%         68.000000
max         82.000000
Name: review_length, dtype: float64

Кількість відгуків по країні:
country
Australia    6219
Brazil       6419
Canada       6170
Germany      6162
India        6124
UAE          6261
UK           6210
USA          6435
dtype: int64

Кількість відгуків по бренду:
brand
Apple       7144
Google      7234
Motorola    7061
OnePlus     7136
Realme      7132
Samsung     7052
Xiaomi      7241
dtype: int64

Кількість пропущених значень в кожному стовпці:
review_id               0
customer_name           0
age                     0
brand                   0
model                   0
price_usd               0
price_local             0
currency                0
exchange_rate_to_usd    0
rating                  0
review_text             0
sentiment               0
country                 0
language                0
review_date             0
verified_purchase       0
battery_life_rating     0
camera_rating           0
performance_rating      0
design_rating           0
display_rating          0
review_length           0
word_count              0
helpful_votes           0
source                  0
price_local_clean       0
has_special_chars       0
dtype: int64

Експортуємо очищений датасет в CSV файл

In [107]:
# Вказуємо шлях для збереження файлу

file_path = r"d:\VLAD\WORK\Projects\Portfolio\DA_Portfolio\DA\2025\global_mobile_reviews_project\data\processed\cleaned_mobile_reviews.csv"

# Збереження очищеного датасету в CSV файл
df_clean.to_csv(file_path, index=False)

print(f"Датасет успішно збережено за шляхом: {file_path}")

Датасет успішно збережено за шляхом: d:\VLAD\WORK\Projects\Portfolio\DA_Portfolio\DA\2025\global_mobile_reviews_project\data\processed\cleaned_mobile_reviews.csv

Збереження SQLite бази даних за певним шляхом

In [109]:
import sqlite3

# Вказуємо шлях для збереження бази даних
db_path = r"d:\VLAD\WORK\Projects\Portfolio\DA_Portfolio\DA\2025\global_mobile_reviews_project\data\processed\mobile_reviews.db" 

# Підключення до SQLite бази даних (якщо файл не існує, він буде створений)
conn = sqlite3.connect(db_path)
print(f"База даних успішно збережена за шляхом: {db_path}")

# Збереження датасету в базу даних
df_clean.to_sql('reviews', conn, if_exists='replace', index=False)
print("Датасет успішно збережено в базу даних 'mobile_reviews.db'.")

База даних успішно збережена за шляхом: d:\VLAD\WORK\Projects\Portfolio\DA_Portfolio\DA\2025\global_mobile_reviews_project\data\processed\mobile_reviews.db
Датасет успішно збережено в базу даних 'mobile_reviews.db'.